<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studentsolutions.micromanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.studentsolutions.micromanager.About_Page"
            android:parentActivityName="com.studentsolutions.micromanager.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.studentsolutions.micromanager.MainActivity" />
        </activity>
        <activity
            android:name="com.studentsolutions.micromanager.Assignment_List"
            android:parentActivityName="com.studentsolutions.micromanager.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.studentsolutions.micromanager.MainActivity" />
        </activity>
        <activity
            android:name="com.studentsolutions.micromanager.Help_Page"
            android:parentActivityName="com.studentsolutions.micromanager.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.studentsolutions.micromanager.MainActivity" />
        </activity>
        <activity
            android:name="com.studentsolutions.micromanager.Add_Screen"
            android:parentActivityName="com.studentsolutions.micromanager.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.studentsolutions.micromanager.MainActivity" />
        </activity>
        <activity android:name="com.studentsolutions.micromanager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>